# Enter your compartment id. Usually its the same as your tenancy_id as in the ~/.oci/config file 
compartment_id       = "" 

# This is optional but quite helpful incase you need to ssh into your cluster and need a free public dns name. Enter the DuckDNS url that the ansible playbook will call.
kube_duckdns_url     = ""