[nodes]
${ocarm1_name} ansible_host=${ocarm1_ip} private_ip=${ocarm1_private_ip}
${ocarm2_name} ansible_host=${ocarm2_ip} private_ip=${ocarm2_private_ip}


[nodes:vars]
ansible_user=ubuntu
ansible_ssh_private_key_file=${ansible_ssh_private_key_file}
kube_duckdns_url=${kube_duckdns_url}